<article class="container">
  <div class="title-problem">
    <h2>Problem 2</h2>
  </div>
  <div class="content-problem">
    <div class="input-area">
      <h4>Input</h4>
      <textarea name="input-2" id="input-2" rows="10" #input2 ></textarea>
      <button class="btn btn-sky-blue" (click)="sendProblem()">Send</button>
    </div>
    <div class="output-area">
      <h4>Output</h4>
      <pre id="output-2">{{ res | async }}</pre>
      <pre class="error">{{ error | async}}</pre>
    </div>
  </div>
</article>
