/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import './app/shared/_variables.scss';
body {
  margin: 0;
  box-sizing: content-box;
  font-family: 'Roboto', sans-serif;
}

.card {
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  .description-card {
    margin: 10px 0;
    flex: 1;
    text-align: justify;
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  border-radius: 5px;
  &:focus {
    outline: 0;
  }
  &:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  }

  &:active {
    transform: scale(0.98);
  }

  &.btn-sky-blue {
    background-color: $color-sky-blue;
    color: $color-white;
  }
}

.container {
  padding: 30px;
}

.content-problem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  @media screen and (max-width: 450px) {
    grid-template-columns: 1fr;
  }
  .output-area {
    pre {
      text-align: center;
    }
    .error {
      color: red;
      font-weight: 500;
    }
  }
}

textarea {
  resize: none;
  width: 100%;
}
