<article class="container">
  <div class="title-problem">
    <h2>Problem 1</h2>
  </div>
  <div class="content-problem">
    <div class="input-area">
      <h4>Input</h4>
      <textarea name="input-1" id="input-1" rows="10" #input1 ></textarea>
      <button class="btn btn-sky-blue" (click)="sendProblem()">Send</button>
    </div>
    <div class="output-area">
      <h4>Output</h4>
      <pre id="output-1">{{ res | async }}</pre>
      <pre class="error">{{ error | async}}</pre>
    </div>
  </div>
</article>
