<header class="header">
  <div class="logo"><img src="/assets/img/logo-header.png" alt="Logo A2o"></div>
  <div class="title">
    <h1>Test for Web App Developers</h1>
  </div>
  <div class="user-info">
    <div class="icon-expanded" [ngClass]="{'active': rotateIcon}" (click)="rotateIcon = !rotateIcon">
      <span class="material-symbols-outlined">
        expand_more
      </span>
    </div>
    <p class="name">Jheyson Zaid Zurita Soria</p>
    <p>67553311 <span>jheysoria20@gmail.com</span></p>
  </div>
</header>

<section class="cards-problem">
  <div class="card">
    <header class="header-card">
      <h3>Problem 1: Chess</h3>
    </header>
    <div class="description-card">You have a square chess board with one queen and a number of obstacles placed on it. Determine how many squares the queen can attack.</div>
    <footer class="footer-card">
      <button routerLink="/home/problem-1" class="btn btn-sky-blue">
        Play
      </button>
    </footer>
  </div>
  <div class="card">
    <header class="header-card">
      <h3>Problem 2: String value</h3>
    </header>
    <div class="description-card">Jane loves strings more than anything. She has a string t with her, and value of string s over function f </div>
    <footer class="footer-card">
      <button routerLink="/home/problem-2" class="btn btn-sky-blue">
        Play
      </button>
    </footer>
  </div>
</section>

<router-outlet></router-outlet>
