@import '../shared/_variables.scss';

.header {
  background-color: $color-sky-blue;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  @media screen and (max-width: 450px) {
    gap: 10px;
    flex-direction: column;
  }
  .logo {
    width: 300px;
    padding: 10px;
    @media screen and (max-width: 450px) {
      padding: 3px;
      width: 120px;
    }
    img {
      width: 100%;
      filter: grayscale(100%) brightness(2.25);
    }
  }
  .title {
    font-weight: 900;
    color:  #fff;
    text-align: center;
    h1 {
      margin: auto;
    }
  }
  .user-info {
    color: #fff;
    @media screen and (max-width: 450px) {
      text-align: center;
    }

    .icon-expanded {
      display: none;
      @media screen and (max-width: 450px) {
        display: block;
        transform: rotate(-360deg);
        transition: transform 600ms ease;
        &.active {
          transform: rotate(180deg);
          transition: transform 600ms ease;
        }

        & ~ p {
          display: none;
          transition: all 450ms ease-out;
        }

        &.active ~ p {
          display: block;
          transition: all 450ms ease-in;
        }
      }
    }

    p {
      font-weight: 600;
      margin: 0;
      &.name {
        margin-bottom: 5px;
        font-weight: 900;
      }
    }
  }
}

.cards-problem {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  @media screen and (max-width:450px) {
    grid-template-columns: 1fr;
  }
}
